*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background-color: #fff;
}
.header
{
    width: 100%;
    height: 100px;
}
.logo h1
{
    color: #424144;
    text-align: center;
    line-height: 100px;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 3px 3px 4px coral;
    margin-bottom: 10px;
}

.nav
{
    height: 60px;
    margin: 0 10px;
    /* background-color: rgba(14, 209, 134,1); */
    background-color: rgb(250, 115, 66);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}
.nav ul
{
    width: 100%;
    height: 60px;
    margin-left: 50px;
}

.nav ul li
{
    display: inline-block;
    line-height: 60px;
    list-style: none;
    padding-left: 30px;
}
.nav ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 5px;
}
.nav ul li a:hover
{
    color: rgb(241, 75, 14);
    background-color: rgb(255, 233, 203);
}

.nav .icon 
{
    display: flex;
    line-height: 60px;
    list-style: none;
    padding-right: 30px;
    margin-right: 50px;

}

.nav .icon a
{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
}

.banner
{
    width: 1200px;
    height: 530px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.box1
{
    width: 65%;
}
.box2
{
    width: 35%; 
}
.box3,.box4
{
    width: 50%;
}

.box1,.box2,.box3,.box4
{
    height: 250px;
    padding: 15px;
}

.box1 img,.box2 img,.box3 img,.box4 img
{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.container
{
    width: 1200px;
    margin: 0 auto;
}

.pheading
{
    text-align: center;
    margin: 20px 0;
    color: #424144;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 28px;
}

.products
{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    margin: 0 auto;
}

.products .sec-1
{
    width: 360px;
    padding: 8px;
    margin: 40px 0 20px 20px;
    justify-content: center;
    align-items: center;
}

.products .sec-1 img
{
    width: 100%;
    height: 550px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.products .sec-1 h3
{
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    text-align: center;
}

.products .sec-1 .box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.products .sec-1 .box .price
{
    color: rgb(241, 75, 14);
    font-size: 18px;
    font-weight: bold;
}

.products .sec-1 .box .btn
{
    font-size: 15px;
    color:rgb(241, 75, 14);
    padding: 8px 15px;
    font-weight: 900;
    border: 1px solid rgb(241, 75, 14);
    border-radius: 20px;
    cursor: pointer;
}
.products .sec-1 .box .btn:hover
{
    background-color: rgb(241, 75, 14);
    color: #fff;
}

.footer
{
    width: 100%;
    background-color: rgb(250, 115, 66);
    padding: 40px 20px;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);

}
.content
{
    display: flex;
    flex-wrap: wrap;
}
.section
{
    width: 25%;
    padding: 0 20px;
}
.section h4
{
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
    font-weight: 500;
}

ul
{
    list-style: none;
}
.section ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
}
.section .social-media a
{
    font-size: 18px;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:#5c5a5e;
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.section .social-media a:hover
{
    background-color: #fff;
    color: rgb(250, 115, 66);
}

